In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
en = "https://en.wikipedia.org/wiki/List_of_English_districts"
wales = "https://en.wikipedia.org/wiki/List_of_Welsh_principal_areas"
scott = "https://en.wikipedia.org/wiki/Subdivisions_of_Scotland"
response_en = requests.get(en)
response_wales = requests.get(wales)
response_scott = requests.get(scott)

In [3]:
# Here we get every table on the Wikipedia page
soup_en = BeautifulSoup(response_en.text, 'lxml')
soup_wales = BeautifulSoup(response_wales.text, 'lxml')
soup_scott = BeautifulSoup(response_scott.text, 'lxml')
table_en = soup_en.select("table.wikitable")
table_wales = soup_wales.select("table.wikitable")
table_scott = soup_scott.select("table.wikitable")

In [4]:
df_en = pd.read_html(str(table_en))
df_wales = pd.read_html(str(table_wales))
df_scott = pd.read_html(str(table_scott))

In [5]:
new_districts_en = pd.DataFrame(df_en[0])
old_districts_en = pd.DataFrame(df_en[1])
districts_wales = pd.DataFrame(df_wales[0])
districts_scott = pd.DataFrame(df_scott[0])

In [6]:
new_districts_en.head()

,Name,Website,Population(2019 est.),Title,Type,Ceremonial County
0,Adur,website,64301,District,NaN,West Sussex
1,Allerdale,website,97761,Borough,NaN,Cumbria
2,Amber Valley,website,128147,Borough,NaN,Derbyshire
3,Arun,website,160758,District,NaN,West Sussex
4,Ashfield,website,127918,District,NaN,Nottinghamshire

In [7]:
new_districts_en = new_districts_en[['Name', 'Population(2019 est.)']]

In [8]:
new_districts_en = new_districts_en.rename(columns = {'Name': 'District', 'Population(2019 est.)' : 'Population'})

In [9]:
new_districts_en.head()

       District  Population
0          Adur       64301
1     Allerdale       97761
2  Amber Valley      128147
3          Arun      160758
4      Ashfield      127918

In [20]:
new_districts_en.to_csv('districts_en.csv', index = False)

In [11]:
old_districts_en.head()

,District,Status,Date abolished,Former county,Successor
0,Alnwick,non-metropolitan district,1 April 2009,Northumberland,Northumberland
1,Bath,"non-metropolitan district, City",1 April 1996,Avon,Bath and North East Somerset
2,Berwick-upon-Tweed,"non-metropolitan district, borough",1 April 2009,Northumberland,Northumberland
3,Beverley,"non-metropolitan district, borough",1 April 1996,Humberside,East Riding of Yorkshire
4,Blyth Valley,"non-metropolitan district, borough",1 April 2009,Northumberland,Northumberland

In [12]:
old_districts_en = old_districts_en[['District', 'Successor']]

In [13]:
old_districts_en.to_csv('old_districts_en.csv', index = False)

In [14]:
districts_wales.head()

,District,Created,Population,Population density/km2,Area km2,Type
0,Cardiff,1996 a,369202,2585,140,County (also a city)
1,Swansea,1996 a,246563,649,378,County (also a city)
2,Rhondda Cynon Taf,1996,241873,566,424,County borough
3,Carmarthenshire,1996 a,190073,79,"2,370[4]",County
4,Caerphilly,1996,181731,653,278,County borough

In [15]:
districts_wales = districts_wales[['District', 'Population']]

In [16]:
districts_wales.to_csv('districts_wales.csv', index = False)

In [17]:
districts_scott.head()

,Rank,Council area,Population[3],Electors[4],Area (km2)[5],Density(per km2)
0,1,Glasgow City,626410,462286,174.7,3586
1,2,City of Edinburgh,518500,367762,263.4,1969
2,3,Fife,371910,280622,1325.0,281
3,4,North Lanarkshire,340180,256174,469.9,724
4,5,South Lanarkshire,319020,248875,1772.0,180

In [18]:
districts_scott = districts_scott.rename(columns = {'Council area' : 'District', 'Population[3]' : 'Population'})[['District', 'Population']]

In [19]:
districts_scott.to_csv('districts_scott.csv', index = False)